[data-theme='dark'] {
	/* Primary */
	--primary-color-h: 0;
	--primary-color-s: 36%;
	--primary-color-l: 55%;
	--primary-color-a: 100%;

	/* Secondary */
	--secondary-color-h: 0;
	--secondary-color-s: 0%;
	--secondary-color-l: 69%;
	--secondary-color-a: 100%;

	/* Background */
	--background-color-h: 0;
	--background-color-s: 0%;
	--background-color-l: 0%;
	--background-color-a: 100%;

	/* Font */
	--font-color-h: 0;
	--font-color-s: 0%;
	--font-color-l: 100%;
	--font-color-a: 100%;
}
